{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inschrijving creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success buttonsaligned" type="submit" value="Aanmaken" />
    {{ form_end(form) }}

            <a class="btn btn-warning buttonsaligned" href="{{ path('inschrijving_index') }}">Back to the list</a>
{% endblock %}
