{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Aanmaken" />
    {{ form_end(form) }}

            <a class="btn btn-warning" href="{{ path('categorie_index') }}">Back to the list</a>
{% endblock %}
