{% extends 'base.html.twig' %}

{% block body %}
        {% if is_granted('ROLE_ADMIN') %}
    <h1>Student creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('students_index') }}">Back to the list</a>
        </li>
    </ul>
        {% else %}
            <h1>U dient als admin in te loggen</h1>
        {% endif %}
{% endblock %}
